:root{
    --color-bg-black: #000000;
    --color-bg-gray: #232325;
    --color-text-sub: #939498;
    --color-text-main: #f8f8f8;
    --color-blue: #004DA2;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    font-size: 16px;
    
    *{
        margin: 0;
        padding: 0;
        font-weight: normal;
        /* letter-spacing: 1px; */
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
        color: var(--color-text-main);
        font-family: var(--font-tektur), 'Arial Narrow', sans-serif;

        
    }
    a:focus, button:focus, input:focus, textarea:focus:focus{
        outline: 1px solid transparent;
    }

    h1{
        font-weight: normal;
        font-family: var(--font-train-one), 'Arial Black', sans-serif;
    }
}

body{
    position: relative;
    display: flex !important;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(var(--color-bg-black), var(--color-bg-gray));
    overflow-x: clip;
    
    &::after{  
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: .25;
        background: url('/bg2.webp') repeat;
        z-index: -2;
    }

    .content{
        flex: 1 !important;
        margin: 1.5rem 7rem 5rem;
    }
    
}

.bg_opt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    z-index: -1;
    opacity: 0.15;
    pointer-events: none;
    background-repeat: no-repeat;
    overflow: hidden;
}

body{
    &.prod-act .bg_opt{
        background-image: url('/sputnic1.png');
        background-position: 32rem 7rem;
        height: 70%;
        background-size: 100%; 
        transform: translateX(5rem) scale(1.3) rotate(15deg);
    }
    &.about-act .bg_opt{
        background-image: url('/sputnic2.png');
        background-position: 32rem 130%;
        height: 70%;
        background-size: 100%; 
        transform: translateX(5rem) scale(1);
    }
}

html {
    overflow-x: clip;
}