:root{
    --color-bg-black: #000000;
    --color-bg-gray: #232325;
    --color-text-sub: #939498;
    --color-text-main: #f8f8f8;
    --color-blue: #004DA2;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    font-size: 16px;
    
    *{
        margin: 0;
        padding: 0;
        font-weight: normal;
        /* letter-spacing: 1px; */
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
        color: var(--color-text-main);
        font-family: var(--font-tektur), 'Arial Narrow', sans-serif;

        
    }
    a:focus, button:focus, input:focus, textarea:focus:focus{
        outline: 1px solid transparent;
    }

    h1{
        font-weight: normal;
        font-family: var(--font-train-one), 'Arial Black', sans-serif;
    }
}

body{
    position: relative;
    display: flex !important;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(var(--color-bg-black), var(--color-bg-gray));
    overflow-x: clip;
    
    &::after{  
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: .25;
        background: url('/bg2.webp') repeat;
        z-index: -2;
    }

    .content{
        flex: 1 !important;
        margin: 1.5rem 7rem 5rem;
    }
    
}

.bg_opt {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    
    pointer-events: none;
    background-repeat: no-repeat;
    overflow: hidden;
}

body{
    &.prod-act .bg_opt{
        background-image: url('/sputnic1.png');
        background-position: 32rem 7rem;
        height: 75%;
        opacity: 0.15;
        background-size: 100%; 
        transform: translateX(5rem) scale(1.3) rotate(15deg);
    }
    &.about-act .bg_opt{
        background-image: url('/sputnic2.png');
        background-position: 32rem 30rem;
        height: 80%;
        opacity: 0.15;
        background-size: 100%; 
        transform: translateX(5rem) scale(1.1);
    }
    &.car-act .bg_opt{
        background-image: url('/rocket2.png');
        background-position: 45rem 30rem;
        height: 100%;
        opacity: .5;
        background-size: 50%; 
        
        transform: scale(1);
    }
    &.new-act .bg_opt{
        background-image: url('/rocket1.png');
        background-position: 0 15rem;
        height: 100%;
        opacity: .5;
        background-size: 100%; 
        transform: scale(1);
    }
    &.con-act .bg_opt{
        background-image: url('/planet.png');
        background-position: 40rem 7rem;
        height: 100%;
        opacity: .15;
        background-size: 80%; 
        transform: scale(1);
    }
}

html {
    overflow-x: clip;
}

.load p{
    color: var(--color-text-sub) !important;
}

.p_404{
    display: flex;
    min-height: 80vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 5rem;

    .num{
        position: relative;
        font-family: var(--font-allerta);
        font-size: 18rem;
        margin-bottom: 12rem;

        span{
            font-family: var(--font-allerta);
            
        }
        
        &::after{
            position: absolute;
            content: '404';
            left: 0;
            top: 0;
            color: transparent;
            transform: scaleY(-1) translateY(-18rem);
            opacity: .2;
            background: linear-gradient(to top, var(--color-text-sub), transparent);
            background-clip: text;
        }

        &::before{
            content: '';
            will-change: transform;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateY(-2.5rem) translateX(-50%);
            width: 80%;
            height: 1px;
            background: currentColor;
            clip-path: polygon(0% 50%, 20% 0%, 80% 0%, 100% 50%, 80% 100%, 20% 100%);
            transition: transform .3s ease;
        }
    }

    .txt{
        text-align: center;

        p{
            font-size: 1.5rem;
            width: 70%;
            
            margin: 0 auto;
        }
        a{
            width: fit-content;
            margin: 0 auto;
            padding: .6rem 2rem;
            font-size: 1.1rem;
            display: block;
            margin-top: 2rem;
            border: 4px double currentColor;
            transition: all .3s ease;

            &:hover{
                box-shadow: 0 0 24px var(--color-blue);
                transform: scale(1.05);
            }
        }
    }
}

.p_err{
    display: flex;
    min-height: 80vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 5rem;
    gap: 0 7rem;

    .num{
        position: relative;
        font-size: 13rem;
        margin-bottom: 12rem;
font-family: var(--font-allerta);

        span{
            font-family: var(--font-allerta);
        }
        
        &::after{
            position: absolute;
            content: 'Error';
            left: 0;
            top: 0;
            color: transparent;
            transform: scaleY(-1) translateY(-13rem);
            opacity: .2;
            background: linear-gradient(to top, var(--color-text-sub), transparent);
            background-clip: text;
        }

        &::before{
            content: '';
            will-change: transform;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateY(-1.75rem) translateX(-50%);
            width: 80%;
            height: 1px;
            background: currentColor;
            clip-path: polygon(0% 50%, 20% 0%, 80% 0%, 100% 50%, 80% 100%, 20% 100%);
            transition: transform .3s ease;
        }
    }

    .txt{
        text-align: center;

        p{
            font-size: 1.5rem;
            width: 100%;
            
            margin: 0 auto;
        }

        .buttons{
            margin-top: 2rem;
            display: flex;
            gap: 0 1rem;
        }

        button{
            width: 40%;
            margin: 0 auto;
            padding: .5rem 1rem;
            font-size: 1rem;
            display: block;
            
            border: 4px double currentColor;
            transition: all .3s ease;
            background: none;

            &:hover{
                box-shadow: 0 0 24px var(--color-blue);
                transform: scale(1.05);
            }
        }
    }
}