.p_main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: start;
    align-content: center;
    *{color: var(--color-text-sub); z-index: 0;}

    

    .txt_block{
        width: 85%;
        font-size: 1.4rem;
        p{
            line-height: 2;
            margin-bottom: .5rem;
        }
        &:nth-child(2 of .txt_block){
            text-align: center;
            justify-self: center;
        }
        &:first-child{
            width: 120%;
            p{
                letter-spacing: 2px;
                line-height: 1.5;
            }
        }
        
        h1{
            color: var(--color-text-main);
            text-shadow: 4px 4px 11px var(--color-blue);
            font-size: 4rem;
            transform: translateX(-8px);
            margin-bottom: .3rem;
        }
        .button{
            display: block;
            width: fit-content;
            margin: 1.6rem auto 0;
            font-size: 1.25rem;
            outline: transparent;
            border: 4px double var(--color-text-main);
            padding: 1rem 1.2rem;
            color: var(--color-text-main);
            transition: all .3s ease;

            &:hover, &:focus{
                box-shadow: 0 0 24px var(--color-blue);
            }
        }
    }

    .img_block{
        width: 100%;
        height: auto;
        transform: translateX(4rem);
        img{
            
            position: relative !important;
            transform: scale(1.1);
        }

        &:nth-child(2 of .img_block){
            transform: translateX(-4rem);
        }
    }
}

@media screen and (width < 1220px) {
    .p_main{

        .txt_block{
            width: 100%;
            font-size: 1.3rem;
        }
        .img_block{

            img, &:nth-child(2 of .img_block){
                transform: none;
            }
        }
    }
}

@media screen and (width < 896px) {
    .p_main{
        grid-template-columns: auto;
        grid-template-rows: auto;

        .txt_block{
            text-align: center;
            font-size: 1.7rem;

            &:first-child{
                width: 100%;
            }
            &:nth-child(2 of .txt_block){
                grid-row: 3 / 4;
            }


            h1{
                font-size: 5rem;
            }
            .button{
                font-size: 1.7rem;
            }
        }
        .img_block{
            transform: none;
        }
    }
}

@media screen and (width < 512px){
    .p_main{
        h1{
            font-size: 3.25rem !important;
        }

        .txt_block{
            font-size: 1.2rem;

            .button{
                font-size: 1.3rem;
            }
        }
    }
}