.p_news{
    position: relative;

    h1{
        text-align: center;
        font-size: 3rem;
        letter-spacing: -10px;
    }

    .year_ch{
        position: absolute;
        top: 1.2rem;
        left: 0;

        .wrapper{
            margin-bottom: .7rem;
            position: relative;
            display: block;
            width: fit-content; 
            --radius: .5rem;
            --border-width: 2px;
            transition: all .3s ease;
            z-index: 500;

            &::before{
                content: '';
                position: absolute;
                inset: 0;
                padding: var(--border-width);
                background: linear-gradient(90deg, var(--color-text-main), rgba(255, 255, 255, 0.205));
                border-radius: var(--radius);
                -webkit-mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                pointer-events: none;
            }

            .curr_y{
                outline: transparent;
                background: none;
                border: none;
                font-size: 1rem;
                padding: .6rem 1.2rem .6rem 1.7rem;
                cursor: pointer;
                border-radius: var(--radius);
                transition: all .3s ease;

                &::after {
                    content: '▼';
                    margin-left: 1rem;
                    font-size: .9rem;
                }

                &:hover, &:focus, &:active{
                    box-shadow: 0 0 24px var(--color-blue);

                    ::after{
                        font-size: .95rem;
                    }
                }
            }

            &.choose{
                display: none;
                width: 100%;
                opacity: 0;
                

                &.open{
                    display: block;
                    animation: year .4s ease;
                    animation-fill-mode: forwards;
                    transform: translateY(0);

                    button{
                        cursor: pointer;
                    }
                }
                overflow: hidden;

                .choose_block{
                    height: 11.3rem;
                    overflow-y: scroll;
                    scrollbar-width: none;
                    
                    button{
                        outline: transparent;
                        padding: .7rem 1rem;
                        transition: all .3s ease;
                        display: block;
                        font-size: 1rem;
                        width: 100%;
                        background: rgba(0, 0, 0, 0.911);
                        border: none;

                        &:hover, &:focus, &:active {
                            font-size: 1.15rem;

                        }
                    }
                }
            }
        }
    }

    .news_block{
        margin-top: 2rem;
    }

    .news_empty{
        margin-top: 2rem;
        font-size: 1.1rem;
        text-align: center;
        p{color: var(--color-text-sub);}
    }
}

.back_n{
    position: absolute;
    background: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 499;

    &.open{
        display: block;
    }
}

@keyframes year {
    from{
        display: none;
        opacity: 0;
        transform: translateY(-10px);
    }
    20%{
        display: block;
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        display: block;
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (width < 896px) {
    .p_news{

        .year_ch{
            right: 0;
            left: auto;
            .curr_y{
                font-size: 1.5rem !important;
                &::after{
                    font-size: 1.1rem !important;
                }
            }
            
        }

        button{font-size: 1.4rem !important;}
        .choose_block{
            height: 15rem !important;
        }
    }
}


@media screen and (width < 512px){
    .p_news{
        margin-top: 4rem !important;
        h1{
            display: none;
        }

        .year_ch{
            top: -5rem;
        }
    }
}