.p_new1{
    display: block;
    .date{
        text-align: center;
    }
    h2{
        margin: 1rem 0 2rem;
        text-align: center;
        font-size: 2rem;
    }

    .content{
        margin: 2rem 0;
        display: grid;
        position: relative;
        font-size: 1.2rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem 3rem;
        
        p{
            &:nth-child(n+2){
                grid-column: 1 / 3;
            }

            white-space: pre-wrap;
            line-height: 1.7;
            color: var(--color-text-sub);
            
        }

        .imgs{
            
            &.solo{
                grid-area: 1 / 2 / 2 / 3;
                width: 35vw; 
                justify-self: center;
                
                img{
                    border-radius: 1rem;
                    width: max-content; 
                    height: auto !important;
                }
            }

            &.mult{
                grid-column: 1 / 3;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                justify-content: space-between;
                gap: 1rem 1rem;

                img{
                    position: relative;
                    border-radius: 1rem;
                    width: 100%;
                    height: auto;
                }
            }

        }
        
        &:has(.mult), &:not(&:has(.imgs)){
            p{
                grid-column: 1 / 3 !important;
            }
        }

        &:not(&:has(p)){
            display: block;

            .imgs{
                width: 100%;

                &.solo{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (width < 1220px) {
    .p_new1{

        .content{

            .imgs{
                &.mult{
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
}

@media screen and (width < 768px){
    .p_new1{

        .content{
            grid-template-columns: 1fr;
            gap: 1.5rem 0;

            .imgs{

                &.solo{
                    grid-area: 2 / 1 / 3 / 2;
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (width < 512px){
    .p_new1{
        h2{
            font-size: 1.6rem;
        }
        p{font-size: 1.05rem;}
        .content .imgs{
            
            &.mult{
                grid-template-columns: 1fr;
            }
        }
    }
}

