.p_con{
    h3{
        max-width: 70%;
        font-size: 1.8rem;
        margin: 2rem 0 .5rem;

        span+span{
            color: var(--color-text-sub);
        }
    }
    p{
        font-size: 1.1rem;
        line-height: 1.7;
        margin-left: 2rem;
        span{
            color: var(--color-text-sub);
        }
        
    }

    h3+h3{
        margin-top: 6rem;
    }
}